.room-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: rgb(249, 251, 253);
    height: 92vh;
    font-family: monospace;
}
.title{
    font-weight: 400;
}
.title h4 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}
.title p {
    color: #00000078;
}
.title span{
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.room-content{
    display: flex;
 
}
.list-chat{
    border: 1px solid rgb(249, 251, 253);
    background-color: white;
    height: 78vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-chat input {
    width: 80%;
    margin: 20px 0;
    font-size: 14px;
    border: 1px solid #00000078;
    padding: 2px 4px;
}
.list-chat input:focus-visible {
    outline: none;
}
.list-chat input::placeholder{
    color: #00000078;
}
.roomid-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.room-id{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid rgb(249, 251, 253);
    border-top: 1px solid rgb(249, 251, 253);
    padding: 3px 0;
}
.room-id svg{
    width: 40px;
    height: 40px;
}
.room-id p {
    width: calc(100% - 50px);
    overflow-wrap: break-word;
    font-size: 14px;
    margin: 0;
}
.chat-detail_container{
    height: 78vh;
    width: calc(100% - 175px);
    border: 1px solid rgb(249, 251, 253);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.fetch-msg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid rgb(249, 251, 253);}
.fetch-msg button{
    border-radius: 50%;
    border: none;
    height: 32px;
    width: 32px;
    background-color: rgb(1, 202, 241);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.fetch-msg input {
    width: calc(100% - 50px);
    padding-left: 15px;
    border: none;
}
.fetch-msg input:focus-visible {
    outline: none;
}
.msg-container{
    padding: 20px 10px;
    overflow-y: scroll;
}
.msg-user{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}
.msg-user p {
    max-width: 75%;
    background-color: rgb(228, 251, 248);
    padding: 6px;
    overflow-wrap: anywhere;
    margin: 0;
}
.msg-user svg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.msg-admin{
    display: flex;
    justify-content: flex-end;
}

.msg-admin p {
    max-width: 75%;
    padding: 6px;
    overflow-wrap: anywhere;
    background-color: rgb(238, 245, 255);
}